<!doctype HTML>
<!-- I know if I hardcode the app name I'll typo it
     :-(
   -->
<title>{{ config.APPNAME }}</title>
<link rel="stylesheet" type=text/css href="{{url_for('static', filename='style.css')}}">
<div class=page>
    <h1>{{ config.APPNAME }}</h1>
    <div class=accountbar>
        <!-- ~Hey classmates~
             This bit is a conditional statement
             The two curly brace statements are statements, but the % ones
             surround content we MIGHT NOT include
           -->
        {% if not session.logged_in %}
        <a href="{{url_for('login')}}">Log In</a>
        <a href="{{url_for('register')}}">Register</a>
        {% else %}
        <a href="{{url_for('logout')}}">Log Out </a>
        {% endif %}
    </div><!-- .accountbar -->
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div><!-- .flash -->
    {% endfor %}
    {% block body %}
    {% endblock %}
</div><!-- end .page -->
<div class="footer" ><h4>&copy;2017 Monster Security Lockdown</h4></div>
