{% extends "layout.html" %}
{% block body %}
<div class=login>
    <form action="{{ url_for('login') }}" method="post">
        <dl>
            <dt>Username:</dt>
            <dd><input type="text" name="username"></dd>
            <dt>Password:</dt>
            <dd><input type="password" name="password"></dd>
            <dd><input type="submit" value="Log In" ></dd>
        </dl>
    </form>
    <a href="{{url_for('forgot_password')}}">Forgot Password?</a>
 </div><!-- .login -->
{% endblock %}
