
{% extends "layout.html" %}
{% block body %}
<div class=register>
    <form action="{{ url_for('register') }}" method="post">
        <dl>
            <dt>Username:</dt>
            <dd><input type="text" name="username"></dd>
            <dt>Password:</dt>
            <dd><input type="password" name="passwd"></dd>
            <dt>Email:</dt><dd><input type="text"  name="email"></dd>
            <dt>Phone Number:</dt><dd><input type="text"  name="phone_number"></dd>
            <dt>Home Address:</dt><dd><input type="textarea"  name="home_address"></dd>
            <dt>Social Security Number:</dt><dd><input type="text"  name="social_security"></dd>
            <dt>TOTP data</dt><dd>
                <input type="text" name="totp">
            </dd>
            <dt>Select picture</dt>
            <dd><ul>
                <!-- FIXME macro of some sort to handle custom images -->

                <li><input type="radio" value="apple" name="sec-image"><img src="{{url_for('static', filename='apple.png')}}"></li>
                <li><input type="radio" value="bird" name="sec-image"><img src="{{url_for('static', filename='bird.png')}}"></li>
                <li><input type="radio" value="building" name="sec-image"><img src="{{url_for('static', filename='building.png')}}"></li>
                <li><input type="radio" value="car" name="sec-image"><img src="{{url_for('static', filename='car.png')}}"></li>
                <li><input type="radio" value="guitar" name="sec-image"><img src="{{url_for('static', filename='guitar.png')}}"></li>
                <li><input type="radio" value="money" name="sec-image"><img src="{{url_for('static', filename='money.png')}}"></li>
                <li><input type="radio" value="mug" name="sec-image"><img src="{{url_for('static', filename='mug.png')}}"></li>
                <li><input type="radio" value="robot" name="sec-image"><img src="{{url_for('static', filename='robot.png')}}"></li>
                <li><input type="radio" value="stop-sign" name="sec-image"><img src="{{url_for('static', filename='stop-sign.png')}}"></li>
                <li><input type="radio" value="tree" name="sec-image"><img src="{{url_for('static', filename='tree.png')}}"></li>
            </ul></dd>
            <dt>Security question</dt>
            <dd><input type="text" name="question"></dd>
            <dt>Security answer</dt>
            <dd><input type="text" name="answer"></dd>
            <dd><input type="submit" value="Submit" ></dd>
        </dl>
    </form>
 </div><!-- .register -->
{% endblock %}
